<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>/WEB-INF/views/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    
  <servlet>
	<servlet-name>Test</servlet-name>
	<servlet-class>controller.Test</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Test</servlet-name>
<url-pattern>/index</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/contacts</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/developers</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/about-us</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/conference</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/shareLink</url-pattern>
</servlet-mapping>
</web-app>